[submodule "fixtures/git-testbed"]
	path = fixtures/git-testbed
	url = git@github.com:redgreenio/git-testbed.git
[submodule "fixtures/simple-android"]
	path = fixtures/simple-android
	url = git@github.com:ragunathjawahar/simple-android.git
