# Project files
.gradle/
.idea/
build/
out/

# macOS
.DS_Store

# Working area to de-obfuscate crash traces
proguard-lab/

# Cloned repositories used in tests
fixtures/git-testbed/
fixtures/simple-android/
