@font-face {
  -fx-font-family: 'Roboto', sans-serif;
  src: url('../../fonts/roboto/Roboto-Regular.ttf');
}

@font-face {
  -fx-font-family: 'Roboto Black', sans-serif;
  src: url('../../fonts/roboto/Roboto-Black.ttf');
}

@font-face {
  -fx-font-family: 'Roboto Medium', sans-serif;
  src: url('../../fonts/roboto/Roboto-Medium.ttf');
}

@font-face {
  -fx-font-family: 'Roboto Bold', sans-serif;
  src: url('../../fonts/roboto/Roboto-Bold.ttf');
}

.text {
  -fx-font-smoothing-type: gray; /* force anti-aliasing */
}
