* {
    -fx-theme-base: white;
}

.tab-pane {
    -fx-background-color: #efefef;
}

.tab-pane > .tab-header-area {
    -fx-padding: 0;
}

.tab-pane > .tab-header-area > .headers-region > .tab {
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.tab-pane > .tab-header-area > .headers-region > .tab:top {
    -fx-background-color: #efefef;
    -fx-pref-height: 34;
    -fx-padding: 0 14 0 14;
}

.tab-pane > .tab-header-area > .headers-region > .tab:hover:top {
    -fx-background-color: #dfdfdf;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected:top {
    -fx-background-color: -fx-theme-base;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-width: 0;
    -fx-border-color: -fx-theme-base;
}

.tab-pane > .tab-header-area > .tab-header-background {
    -fx-background-color: #efefef;
}

.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container {
    -fx-padding: 0 -2.5 0 0;
}

.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-close-button {
    -fx-background-color: -fx-mark-color;
    -fx-shape: "M 0,0 H1 L 4,3 7,0 H8 V1 L 5,4 8,7 V8 H7 L 4,5 1,8 H0 V7 L 3,4 0,1 Z";
    -fx-scale-shape: false;
}

.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-close-button:hover {
    -fx-background-color: derive(-fx-mark-color, -30%);
}
