.directory-row {
  /* If this value is updated, then it should also be changed in `AffectedDirectoryRow.kt` (used for row constraints) */
  -fx-pref-height: 28;

  -fx-background-color: #E1E1E1;
  -fx-padding: 0 8 0 8;
}

.directory-row .directory-path {
  -fx-font-family: "Roboto Medium";
  -fx-font-size: 12;
  -fx-text-overrun: CENTER_ELLIPSIS;
  -fx-padding: 0 8 0 0;
}

.directory-row .file-count {
  -fx-font-family: "Roboto Medium";
  -fx-font-size: 12;
  -fx-padding: 2 6 2 6;
  -fx-text-fill: #2F2F2F;
  -fx-background-color: #BFBFBF;
  -fx-background-radius: 1.5;
}
